body {
    font-family: "Helvetica", sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f5f5f5;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
    color: #333;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.card {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    padding: 20px;
    text-align: center;
    transition: transform 0.8s ease, box-shadow 0.8s ease;
}

.card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5);
}

.card .year{
    font-size: 20px;
    color: rgb(46, 209, 60);
}

.card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 15px;
}

.card h2 {
    margin: 10px 0 5px;
    font-size: 20px;
    color: #222;
}

.card .job {
    font-size: 14px;
    color: #888;
    margin-bottom: 10px;
}

.card .age {
    font-size: 14px;
    color: #888;
    margin-bottom: 10px;
}

.card .bio {
    font-size: 14px;
    color: #444;
    margin-bottom: 20px;
}

.card .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border-radius: 25px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.card .btn:hover {
    background-color: #388e3c;
}